@*
    т.е. передаем объект для отображения - MVCRazorExample.Person (имя класса, по сути),
    а обращаемся к нему через Model.ИмяСвойства
    мы можем передать лишь один объект во вьюшку...
*@

@model MVCRazorExample.Person

@{
}
<h1>Hello</h1>
<p>First Name: @Model.FirstName</p>
<p>Last Name: @Model.LastName.ToUpper()</p>




@*
    Как только фреймворк видит открывающийся HTML тэг, он переходит в режим отображения этого языка разметки.
    Как только достигается конец тега, то мы возвращаемся в режим кода и можем писать CS код.
    Есть еще один вариант перевести текущую строку в HTML режим – поставить @:
    В таком случае, строка не заключается в теги вообще (если смотреть уже отрендеренную страницу)
*@

@{
    int i = 10;
    <p> index = @i</p>
    @: This is a string @i
}

@if (Model.FirstName == "")
{
    <p>
        текст
    </p>
}
else
{
    <p>Иван @Model.LastName</p>
}

<h1>while</h1>
<p>Цикл while:</p>
<ul>
    @{
        int index = 0;
        //важно определять переменную для цикла в фигурных скобках
    }
    @while (index < 3)
    {
        <li>@index</li>

        index++;
    }
</ul>